.description {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    margin: 10px;
}
.description__name {
    font-size: 20px;
    padding-bottom: 5px;
    color: rgba(0, 174, 255);
}
.description__birthday {
    color: gray;
}
.description__city {
    color:gray
}
.description__language {
    color: gold;
}