.currentPage {
    margin: 20px;
    padding: 0 10px 0 10px;
    cursor: pointer;
    color: rgb(135, 108, 153);
    font-size: 18px;
    .selectedPage {
        padding: 5px;
        cursor: pointer;
        color: brown;
        font-size: 20px;
        border-radius: 50%;
        border: 1px solid rgb(135, 108, 153);
    }
}
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 40%;
    &:hover {
        box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
    }
    .user__ava img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }
    .user__name {
        font-size: 20px;
        color: rgb(135, 108, 153);
    }
    .user__location {
        display: flex;
        flex-direction: column;
        color: gray;
        padding: 10px;

    }
    .user__unfollow {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        background-color: gray;
        color: rgba(255, 255, 255, 0.6);
        margin: 5px;
        &:active {
            transform: scale(0.95);
        }
    }
    .user__follow {
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(135, 108, 153);
        color: rgba(255, 255, 255, 0.6);
        margin: 5px;
        &:active {
            transform: scale(0.95);
        }
    }
}