.form__textarea {
    min-height: 100px;
    border-radius: 10px;
    border: 3px solid rgba(0, 174, 255, 0.329);
    font-size: 18px;
    color: gray;
    padding: 5px;
    background-color: rgba(0, 172, 220, 0.055);
    margin: 5px;
    resize: none;
}