@import './../../../style/templates.scss';

/* .form.error textarea, input {
    border-bottom: 2px solid brown
} */

.form.error span {
    color: brown;
    
}

.login__error {
    border-bottom: 2px solid brown;
    border-radius: 10px;
    padding: 5px;
    color: brown;
    text-align: center;
}

input {
    @extend %input;
}

textarea {
    
    height: 100px;
    border-radius: 10px;
    color: rgb(128, 128, 128);
    padding: 15px;
    font-size: 20px;
    margin: 5px;
    resize: none;
    box-shadow: 0 0 10px gray;
    border-bottom: 2px solid $color__twitter;
    border-left: 2px solid $color__twitter;
}