@import './../../../style/templates.scss';

.form.error textarea {
    border-bottom: 2px solid brown;
    border-left: 2px solid brown;
}

.form.error input {
    border-bottom: 2px solid brown;
}

.form.error span {
    color: brown;
    
}

.login__error {
    border-bottom: 2px solid brown;
    border-radius: 10px;
    padding: 5px;
    color: brown;
    text-align: center;
}

input {
    @extend %input;
}

textarea {
    @extend %textarea;
}