.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1%;
    .messages__posts {
        display: inline-flex;
        flex-direction: column;
        flex: 0 1 auto;
        .myPost {
            display: flex;
            margin: 1%;
            .my__ava img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
            .my__text {
                background-color: rgba(0, 172, 220, 0.5);
                color: gray;
                font-size: 18px;
                padding: 2%;
                margin-left: 2%;
                border-radius: 15px;
                max-width: 70%;
                font-weight: 500;
            }
        }
    }
    .messages__form {
        display: flex;
        flex-direction: column;
        textarea {
            min-height: 100px;
            border-radius: 10px;
            border: 3px solid rgba(0, 174, 255, 0.329);
            color: rgb(128, 128, 128);
            padding: 5px;
            font-size: 20px;
            background-color: rgba(0, 172, 220, 0.055);
            resize: none;
        }
        button {
            max-width: 20%;
            min-width: 100px;
            padding: 5px;
            border-radius: 10px;
            background-color: rgba(0, 174, 255, 0.5);
            color: white;
            font-size: 18px;
            margin: 1%;
            &:hover {
                transform: scale(0.95);
            }
        }
    }
}