.dialogs__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 100%;
}
.dialogs__messages:hover {
    box-shadow: 0 0 20px rgba(128, 128, 128, 0.5);
}

.user__message {
    display: flex;
    justify-content: start;
    margin: 20px;
}
.user__text {
    background-color: rgba(0, 172, 220, 0.8);
    color:white;
    font-size: 15px;
    padding: 2%;
    margin-left: 1%;
    border-radius: 15px;
    max-width: 70%;
    font-weight: 500;
}



.ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}