@import './../../../style/templates.scss';

.user {
    display: flex;
    flex-direction: column;
    @extend %card;
    .user__about {
        margin: 10px;
    }
    .user__description {
        display: flex;
        .user__ava img {
            height: 15em;
            width: 15em;
            margin: 10px;
            border-radius: 50%;
            border: 2px solid $color__twitter;
            box-shadow: 0 0 10px $color__twitter;
        }
        .user__buttons {
            label {
                input[type=file] {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
            }
            .downloadAva {
                @extend %button;        
            }
        }
    }
    .user__info {
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        margin: 10px;
        .info__name {
            font-size: 20px;
            padding-bottom: 5px;
            color: $color__twitter;
        }
        .info__item {
            color: gray;
            padding: 5px;
            
        }
        .info__itemContacts {
            padding-left: 20px;
        }
    }
}
.user__error {
    border: 2px solid brown;
    border-radius: 10px;
    padding: 5px;
    color: brown;
}
.user__updateInfo {
    @extend %button;
}