@import './../../../style/templates.scss';

.user__description {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex: 0 1 50%;
    border: 1px solid brown;
    .user__ava {
        display: flex;
        align-items: center;
        flex-direction: column;
        .userAva {
            height: 15em;
            width: 15em;
            margin: 10px;
            border-radius: 50%;
        }
        label {
            input[type=file] {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }
        .downloadAva {
            width: 40px;
            height: 40px;
            cursor: pointer;        
        }
    }
    .user__info {
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        margin: 10px;
        .info__name {
            font-size: 20px;
            padding-bottom: 5px;
            color: rgb(135, 108, 153);
        }
        .info__item {
            color: gray;
            padding: 5px;
            
        }
        .info__itemContacts {
            padding-left: 20px;
        }
    }
    .user__about {
        margin: 10px;
        max-width: 60%;
    }
}
.user__error {
    border: 2px solid brown;
    border-radius: 10px;
    padding: 5px;
    color: brown;
}
.user__updateInfo {
    @extend %button;
}