@import './../../../style/templates.scss';

.status {
    display: flex;
    flex-direction: column;
    .status__text {
        font-size: 14px;
        color: gray;
        padding: 10px;
    }
    .status__input input {
        @extend %input;
    }
}