.header {
    grid-area: h;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    box-shadow: 0 0 3px rgba(135, 108, 153, 0.4);
    background-color:rgba(135, 108, 153, 0.4);
    border-radius: 10px;
    .header__logo {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(135, 108, 153);
    }
    .header__menu {
        display: flex;
        align-items: center;
        .header__link {
            padding: 10px;
            text-decoration: none;
            color: rgb(135, 108, 153);
            font-size: 20px;
            font-weight: 700;
        }
        .header__login {
            color: gray;
        }
    }
}