@import '_nullstyle.scss';
@import 'templates.scss';

.wrapper {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    .wrapper__content {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(0, 171, 238, 0.2);
        header {
            color: $color__twitter;
            font-size: 40px;
            font-weight: bold;
            padding: 10px;
        }
        footer {
            color: gray;
            padding: 10px;
        }
    }
}