@import "_nullstyle.scss";

.wrapper {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 7px;
    padding: 1%;
    .wrapper__content {
        grid-area: c;
        min-height: 100%;
        box-shadow: 0 0 5px gray;
        border-radius: 10px;
    }
}

