.nav {
    grid-area: n;
    padding: 18px;
    box-shadow: 0 0 5px gray;
    background-color: rgba(0, 172, 220, 0.13);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
  
.nav__item {
    text-decoration: none;
    color: rgb(0, 173, 255);
    font-size: 18px;
    font-weight: 500;
    margin: 7px;
}
.nav__item:active {
    color: rgba(39, 106, 138, 0.5);
}
.nav__item:focus {
    color: rgba(39, 106, 138, 0.5);
}
.nav__item:hover {
    color: rgba(39, 106, 138, 0.5);
}